/*------------------
        fonts       
--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*--------------------
     common styles     
  --------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 70px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    Box-sizing: border-box;
}

a { text-decoration: none }

.container {

  }

/*--------------------
    Header Area CSS    
  --------------------*/

header {
    background: #2D25A0;
    color:white;
    height: 677px;
}

.header-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-left {
    width: 485px;
    height: 230px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}

.header-right {
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-left: 141px;
}

.header-left h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

a.watch-btn:hover{
    color: #fff;
    background:coral;
    transform: scale(1.5);
}

.watch-btn{
    width: 168px;
    height: 44px;
    background: #E02C6D;
    color: #fff;
    padding: 10px 24px;
    margin-top: 10px;
    transition: .3s;
}

i.fa{
    padding-left: 20px;
}

/* -----------------------
  Player List Section CSS 
--------------------------*/
.player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.single-player {
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    width: 330px;
    height: 474px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 27px;
    margin-top: 0px;
}

.single-player {
    box-shadow: 0 5px 15px rgba(15, 10, 10, 0.1);
}
.single-player-blog h3 {
    width: 300px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    line-height: 40px;
}
.single-player-blog p {
    font-size: 16px;
    color:#6C6C6C;
    line-height: 26px;
}

/*------------------
    Footer CSS      
--------------------*/

.footer-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 213px;
    margin-top: 55px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-area a {
    background-color:#f5f6fa;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    line-height: 32px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    margin: 10px;
}

a i {
    transition: all .3s linear;
}

.social-media a:hover i.fa-twitter {
    color: #1DA1F2;
    background:#fff;
    transform: scale(1.4);
}
.social-media a:hover i.fa-dribbble {
    color: #fff;
    background:purple;
    transform: scale(1.4);
}
.social-media a:hover i.fa-instagram {
    color: #fff;
    background:#D0006E;
    transform: scale(1.4);
}
.social-media a:hover i.fa-youtube {
    color:red;
    background:#fff;
    transform: scale(1.4);
}

/*--------------------
    Media Queries     
----------------------*/

/*----Mobile Devices --- */
@media only screen and (max-width:48em){
    
    main {
        align-content: center;
    }
    .container {
        width: 100%;
    }

    .header-area {
        grid-template-columns: repeat(1, 1fr);
        flex-direction:column;
        align-items: center;
        width: 360px;
        height: 695px;
        margin-left: 0px;
        margin-right: 0;
    }

    .header-left {
        display: flex;
        flex-direction:column;
        width: 278px;
        height: 138px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    
    }

    .header-title {
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        font-size: 36px;
        line-height: 540px;
        text-align: left;
    }

    .watch-btn {
        display: flex;
        justify-content:flex-start;
        flex-direction: row;
        align-items:center;

    }
    .header-right {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 329px;
        height: 230px;
    }
    .header-right img {
        display: flex;
        width: 219px;
        height: 250px;

    }
    .player-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .single-player {
        width: 330px;
        height: 474px;
        
    }
    .footer-logo {
        width: 328px;
        flex-direction: column;
        align-content: center;
    }

}

/*----Tablet Devices --- */

@media(max-width:62em){

    
}

/*----Desktop Devices --- */

@media(max-width:75em){

    
}